  .cardd {
   border-color: black;
  
    border: 10px;
   
  }
  .containerr {
    padding: 100px 10px;
    width: 200px;
    height: 80px;
    border: 1px solid black;
  }
  .verify-containerr {
  
    border: 1px solid black;
  }

  .head{
      margin-top: -100px;
  }
  @media screen and (max-width: 1400px){
    .footerstyle {
      margin-bottom : 1150px
    }
  }
  @media screen and (min-width: 1100px){
    .footerstyle {
      margin-bottom : 150px
    }
  }
  @media screen and (max-width: 900px){
    .footerstyle {
      margin-bottom : 1150px
    }
  }
  @media screen and (max-width: 600px){
    .footerstyle {
      margin-bottom : 1150px
    }
  }
   